.notification-alert {
  border-radius: 25px;
  height: 125px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.notification-alert.show {
    opacity: 1;
  }
  
  .notification-alert.hide {
    opacity: 0;
  }

.notif-header{
    display: flex;
    flex-direction: row;
}

.notif-header p{
    font-size: 20px;
    margin-left: 5px;
}

#temp-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f03e3e;
    margin-top: 3px;
}

#co2-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #82F58E;
    margin-top: 3px;
}

#hum-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #60C2E1;
    margin-top: 3px;
}
