.schedule {
  display: flex;
  flex-direction: row;
}

.feedingSch {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
}

#feedingSch-title {
  font-size: 25px;
  margin-left: 5px;
}

#feeding-logo {
  width: 33.5px;
  height: 33.5px;
}

.details p {
  margin-bottom: 0;
}

.feedingSchButtons {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
}

#feedBttn {
  width: 155px;
  height: 60px;
  font-size: 25px;
  border-radius: 25px;
  border-style: solid;
  border-color: #44c851;
  background-color: #44c851;
}

.feedingSchButtons #feedBttn:hover {
  background-color: #2db73a;
}

.feedingSchButtons #editFeedBttn:hover {
  color: #2db73a;
}

#editFeedBttn {
  margin-top: 3px;
  border-style: none;
  background-color: transparent;
  font-size: 14px;
}

.fields {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.datetime,
.amount,
.frequency {
  display: flex;
  flex-direction: column;
}

.datetime p,
.amount p,
.frequency p {
  margin-bottom: 5px;
font-size: 18px;}

.fields input {
  width: 150px;
}

.footerBttns{
  padding-top: 0;
  justify-content: center;
}

#save-btn{
  width: 80px;
  background-color: #44c851;
  border-color: #44c851;
  color: black;
}

.input-field::placeholder {
  color: #999999;
  text-align: center;
}
