.background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(
    180deg,
    #82f58d 0%,
    #c9f9ce 46.88%,
    rgba(226, 255, 229, 0.568627) 82.29%,
    rgba(217, 217, 217, 0) 100%
  );
}

.flex-container {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: bold;
  font-weight: 100;
  font-size: 170px;
  color: #000000;
}

.loginBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 775px;
  height: 250px;
  background: rgba(255, 255, 255, 0.86);
  border-radius: 76px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.loginForm label,
.loginForm input {
  margin-right: 10px; 
}

.loginForm .formRow {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.loginForm .formRow label,
.loginForm .formRow input {
  margin-right: 10px;
  margin-top: 5px; 
}

.error {
  color: red;
  margin-bottom: 10px;
}

.loginButton {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 124px;
  height: 39px;
  background: #44c851;
  border-radius: 11px;
  color: #000000;
  border: #213740;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

label {
  margin-top: 2.255%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  color: #000000;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  padding: var(--bs-modal-padding);
  flex-direction: column;
}

input {
  border-color: rgba(0, 0, 0, 0.05);
  border-style: solid;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.regButton {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border-color: transparent;
  background-color: transparent;
  font-size: 12px;
}

.modal-header {
  justify-content: flex-start;
}


#reg-logo{
  width: 33.5px;
  height: 33.5px;
}

#cancel-btn{
  background-color: transparent;
  color: #213740;
  border-color: transparent;
}

#reg-btn{
  background-color: #44c851;
  color: #000000;
  border-color: #44c851;
}