.notifications{
    position: fixed;
    bottom: 0;
    right: 10px;
}

.notifications .components{
    display: block;
}

.feedingManagement{
    position: absolute;
    top: 30px;
    right: 10px;
}